.products_main{
    height: 100%;
    padding: 10vh 0 0 0;
    margin: 50px 0;
}

.projects_card{
    height: 300px;
    width: 90%;
    background-color: #f5f3f4;
    margin: 40px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.projects_card_side_1{
    width: 52%;
    height: 100%;
    position: relative;
}



.projects_card img:nth-of-type(2){
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    height: 300px;
}

.projects_card img:nth-of-type(1){
    width: 100%;
    margin: 0 0 0 30px;
    height: 300px;
}

.projects_card_side_2{
    width: 48%;
    height: 100%;
    background-color: #f5f3f4;
}

.projects_card_side_2 h2{
    font-size: 24px;
    font-weight: 600;
    margin: 30px 0;
}

.projects_card_side_2 p{
    padding: 0 50px;
    font-size: 16px;
    font-weight: 500;
}

.img-rotate{
    transform: rotate(180deg);
}

#projects_triangle{
    margin: 0 30px 0 0;
}

.img_projects_mobile{
    display:none;
    width: 100%;
    height: 300px;
}

@media (max-width: 450px) {
    .projects_card{
        height: 100%;
        width: 90%;
        background-color: darksalmon;
    }
    .projects_card_side_1{
        width: 100%;
        
    }
    .projects_card_side_2{
        width: 100%;
        
    }
    .img_projects_web{
        display: none !important;
    }
    .img_projects_mobile{
        display: block !important;
    }
    
}
